.workspace-details-header
  padding-bottom 0
  user-select none

  li:not(:last-child)
    margin-right 0

    a
      margin-right 8px

  h1
    line-height 25px
    padding-top 15px

    & > span
      text-transform lowercase
      margin-left 20px
      font-size 20px
      opacity .9

  .rotate
    animation-name spinnerRotate
    animation-duration 1s
    animation-iteration-count infinite
    animation-timing-function ease-in-out

@keyframes spinnerRotate
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)
